#ignore private ssh key
ssh/known_hosts
ssh/id_rsa
emacs.d
config/Thunar
config/dconf
config/evolution
config/libreoffice
config/pulse
config/xfce4
config/smplayer
config/viewnior
config/Cutegram
config/manjaro
config/nemo
config/Mousepad
config/enchant
config/gtk-2.0
pyenv-installer*
config/pavucontrol.ini
