[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/krakapwa/Desktop/cmt.pdf]
row=1
col=1

[/home/krakapwa/Desktop/L'Aile Ou La Cuisse.avi]
row=7
col=0

[/home/krakapwa/Desktop/image-attraktive-dachwohnung-in-bern-elfenau-bern.jpeg]
row=4
col=0

[/home/krakapwa/Desktop/t460s]
row=6
col=0

[/home/krakapwa/Desktop/compliance.pdf]
row=2
col=1

[/home/krakapwa/Desktop/De_la_misere_en_milieu_etudiant-cahier.pdf]
row=5
col=0

[/home/krakapwa/Desktop/reportModelingNoImages.pdf]
row=3
col=0

[/home/krakapwa/Desktop/progit-en.1084.pdf]
row=0
col=1

[/home/krakapwa/Desktop/fft-deriv.pdf]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/krakapwa]
row=2
col=0

