[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/krakapwa/Desktop/invite.ics]
row=6
col=1

[/home/krakapwa/Desktop/#contacts@group.v.calendar.google.com.ics]
row=5
col=1

[/home/krakapwa/Desktop/L'Aile Ou La Cuisse.avi]
row=7
col=0

[/home/krakapwa/Desktop/calendar.zip]
row=7
col=1

[/home/krakapwa/Desktop/OTLGroup_ophthalmicgroup@gmail.com.ics]
row=2
col=1

[/home/krakapwa/Desktop/image-attraktive-dachwohnung-in-bern-elfenau-bern.jpeg]
row=4
col=0

[/home/krakapwa/Desktop/t460s]
row=6
col=0

[/home/krakapwa/Desktop/compliance.pdf]
row=9
col=0

[/home/krakapwa/Desktop/De_la_misere_en_milieu_etudiant-cahier.pdf]
row=5
col=0

[/home/krakapwa/Desktop/With Raphael_gk4enil47armaptqp4bulu7evg@group.calendar.google.com.ics]
row=3
col=1

[/home/krakapwa/Desktop/cmt.pdf]
row=1
col=1

[/home/krakapwa/Desktop/reportModelingNoImages.pdf]
row=3
col=0

[/home/krakapwa/Desktop/Absences_t88gcuqogsc522vo58qbv5m5tk@group.calendar.google.com.ics]
row=4
col=1

[/home/krakapwa/Desktop/progit-en.1084.pdf]
row=0
col=1

[/home/krakapwa/Desktop/ophthalmicgroup@gmail.com.ical.zip]
row=10
col=0

[/home/krakapwa/Desktop/fft-deriv.pdf]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/krakapwa]
row=2
col=0

